/* line 5, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/home.scss */
body {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 30px;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
}

/* line 12, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/home.scss */
.main-section {
  margin: 6% auto;
  background-image: url("einstein.png");
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 22, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/home.scss */
#typedtext {
  display: inline-block;
  margin: 10%;
  height: 300px;
  color: white;
}

/* line 29, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/home.scss */
#second-section {
  height: 45rem;
  background-color: #eeeeee;
  margin-bottom: 3rem;
}
/* line 4, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/solve.scss */
.problem-img {
  max-width: 100%;
  height: auto;
}

/* line 9, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/solve.scss */
span {
  font-size: 30px !important;
  color: black !important;
}

/* line 14, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/solve.scss */
label :hover {
  width: 100% !important;
  background: #b2dfdb !important;
}

/* line 21, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/solve.scss */
.report-question {
  height: 10rem;
}

/* line 25, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/solve.scss */
#no :hover {
  background: #ef9a9a !important;
  width: 100%;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 18, /Users/jiseonsim/Desktop/git/EduWeb/app/assets/stylesheets/application.scss */
.nav-wrapper ul li a {
  color: black;
}
