<div class="container">
  <h3>MY PAGE</h3>
  <ul>
    <%if user_signed_in?%>
    <li><%=current_user.name%></li>
    <%end%>
  </ul>
  
  <table class="tg">
  <tr>
    <th class="tg-e3zv">Name: <%=current_user.name%></th>
    <th class="tg-9hbo">10th Grade</th>
    <th class="tg-9hbo">Course : MATH</th>
  </tr>
  <tr>
    <td class="tg-baqh" colspan="3"><span style="font-weight:bold">Summary</span></td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3">
      <div class="row">
        <img class="col s3" src="../score.png">
      </div>
      The units you show strengths in are ‘polynomials’, ‘real number and imaginary number’, ‘set and proposition’ and ‘number of cases’. And you rarely make mistakes in simple calculation problems with basic concepts.But you show vulnerability in the ‘Equation and inequality’, ‘Equation of Shape’, and ‘Function’ unit. Especially on problems mixed with several chapters, you have difficulty to make problem solving strategy.
    </td>
  </tr>
  <tr>
    <td class="tg-baqh" colspan="3"><span style="font-weight:bold">Analysis with graph</span></td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3">
      <div class="row">
        <img class="col s6" src="../domain1.png">
        <p>[self report - error rate barplot]</p>
        <img class="col s6" src="../domain2.png">
        <p>[domain1 - error rate barplot]</p>
      </div>
      <div class="row">
        <img class="col s4" src="../correctionrate.jpg">
        <p>[Domain 1,2,3 - correct rate table]</p>
        <p>Correct rate is indicated by color</p>
        <img class="col s4" src="../seaborn.png">
        <p>[complexity 1,2,3 - error rate]</p>
        <p>The wider the triangle, the better you solve the problem.</p>
      </div>
      
    </td>
  </tr>
</table>

  
  
</div>
