// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Waiting for the Sunrise', cursive;
  font-size:30px;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
}
.main-section {
  margin: 6% auto;
  background-image: url('../einstein.png');
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#typedtext {
  display: inline-block;
  margin: 10%;
  height: 300px;
  color: white;
}

#second-section {
  height: 45rem;
  background-color:#eeeeee;
  margin-bottom: 3rem
}
