// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: 'Waiting for the Sunrise','Nanum Myeongjo', cursive, serif;
  font-size:30px;
  margin: 10px 50px;
  letter-spacing: 6px;
  font-weight: bold;
}
.main-section {
  margin: 6% auto;
  background-image: url('../einstein.png');
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#typedtext {
  display: inline-block;
  margin: 10%;
  height: 300px;
  color: white;
}

#second-section {
  height: 45rem;
  background-color:#eeeeee;
  margin-bottom: 3rem
}


  .tg  {
    border-collapse:collapse;
    border-spacing:0;
  }
  .tg td{
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
  }
  .tg th{
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:black;
  }
  .tg .tg-baqh{
    text-align:center;
    vertical-align:top;
  }
  .tg .tg-e3zv{
    font-weight:bold
  }
  .tg .tg-9hbo{
    font-weight:bold;
    vertical-align:top
  }
  .tg .tg-yw4l{
    vertical-align:top
  }

  .score{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
  }
  
  .report_img_r1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    height: auto;
  }
  
  .report_img_r2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    height: auto;
  }
  
  .report_img_r2_2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0px;
    width: 254px;
    height: auto;
  }
  
  .description{
    text-align: center;
    margin-bottom:0px; 
  }