// Place all the styles related to the solve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.problem-img {
  max-width: 100%;
  height: auto;
}

span {
  font-size: 30px !important;
  color: black !important;
}

label :hover {
  width:100% !important;
  background: #b2dfdb !important;
  
}

.report-question {
  height : 10rem;
}

#no :hover {
  background: #ef9a9a !important;
  width:100%
}
