<div class="container">
  <h3>Problem | <%= @problem.pcode %></h3>
  <br>
  <h6>Domain1 | <%= @problem.domain1 %></h6>
  <h6>Domain2 | <%= @problem.domain2 %></h6>
  <h6>Domain3 | <%= @problem.domain3 %></h6>
</div>
